<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Browsers -->
    <!--add key="Browser" value="InternetExplorer"/-->
    <!--add key="Browser" value="Firefox" /-->
    <!--add key="Browser" value="Chrome" /-->
    <!--add key="Browser" value="Opera" /-->
    <add key="Browser" value="PhamtomJS" />
    <add key="RemoteChromeDriver" value="false" />
    <add key="ChromeDriverPath" value="**\AutomacaoQA_OrigemCambio\AutomacaoQA_OrigemCambio\bin\Debug" />
    <add key="DefaultImplicityWait" value="100" />
    <add key="PageLoadTimeout" value="500" />
    <add key="ComponentTimeout" value="100" />
    <add key="TentativasParaVerificarComponente" value="300" />
    <add key="BaseUrl" value="http://mantis-prova.base2.com.br/" />
    <add key="DBUrl" value="BBS2SQLQA01" />
    <add key="DBUser" value="" />
    <add key="DBPassword" value="" />
    <add key="DBConnectionTimeout" value="6000" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>